In [1]:
import pandas as pd
import numpy as np

In [6]:
team_file_path = "data_raw/team_box_scores/2018_2019/"
team_file_name = "2018_10_16_team_box_scores.csv"
schedule_file_path = "data_raw/season_schedule/"
schedule_file_name = "2018_2019_season_schedule.csv"

team = pd.read_csv(team_file_path + team_file_name)
sch = pd.read_csv(schedule_file_path + schedule_file_name, \
                  parse_dates=["start_time"])

In [7]:
# Inserts columns and modifies specific entry
n_rows = team.shape[0]
team.insert(1,"location", np.nan)
team.insert(2,"opponent", np.nan)
team.insert(3,"outcome", np.nan)
team.insert(4,"game_score", np.nan)
team.insert(5,"opponent_score", np.nan)

# Modifies single entry
team.loc[2, "location"] = 'new location'

team.head()

,team,location,opponent,outcome,game_score,opponent_score,minutes_played,made_field_goals,attempted_field_goals,made_three_point_field_goals,attempted_three_point_field_goals,made_free_throws,attempted_free_throws,offensive_rebounds,defensive_rebounds,assists,steals,blocks,turnovers,personal_fouls
0,PHILADELPHIA 76ERS,NaN,NaN,NaN,NaN,NaN,240,34,87,5,26,14,23,6,41,18,8,5,16,20
1,BOSTON CELTICS,NaN,NaN,NaN,NaN,NaN,240,42,97,11,37,10,14,12,43,21,7,5,14,20
2,OKLAHOMA CITY THUNDER,new location,NaN,NaN,NaN,NaN,240,33,91,10,37,24,37,16,29,21,12,6,14,21
3,GOLDEN STATE WARRIORS,NaN,NaN,NaN,NaN,NaN,240,42,95,7,26,17,18,17,41,28,7,7,21,29

In [8]:
sch.loc[0:20, "start_time"]

0    2018-10-17 00:00:00+00:00
1    2018-10-17 02:30:00+00:00
2    2018-10-17 23:00:00+00:00
3    2018-10-17 23:00:00+00:00
4    2018-10-17 23:00:00+00:00
5    2018-10-17 23:00:00+00:00
6    2018-10-17 23:30:00+00:00
7    2018-10-17 23:30:00+00:00
8    2018-10-18 00:00:00+00:00
9    2018-10-18 00:30:00+00:00
10   2018-10-18 02:00:00+00:00
11   2018-10-18 02:30:00+00:00
12   2018-10-18 02:30:00+00:00
13   2018-10-19 00:00:00+00:00
14   2018-10-19 00:00:00+00:00
15   2018-10-19 02:30:00+00:00
16   2018-10-19 23:00:00+00:00
17   2018-10-19 23:30:00+00:00
18   2018-10-20 00:00:00+00:00
19   2018-10-20 00:00:00+00:00
20   2018-10-20 00:00:00+00:00
Name: start_time, dtype: datetime64[ns, UTC]

In [10]:
i = 3
sch.loc[i, "start_time"] >= sch.loc[i+1, "start_time"]

True